It looks like there are some IDE-specific configuration files here to make it easier to adopt these coding styles.

Although it is quite simple and only able to express some of the conventions, it is very easy to use, supported by a wide range of editors, and takes care of some of the most common choices (e.g. indentation). 