# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

csharp-style.md @jbcoe
htmlcssguide.html @tonyruscoe
javaguide.html @dimo414 
lispguide.xml @sfreilich
pyguide.md @gpshead
pylintrc @gpshead
shellguide.md @dimo414 @eatnumber1 @vapier
